<div class="container-fluid">
	<div class="jumbotron text-center">
		<%= link_to "View Your AB 596", insert_path(@insert, format: "pdf"), class: "btn btn-primary btn-lg" %>
	</div>
	<div class="jumbotron text-center">
		<p class="lead">If You Want To Become Approved For FHA Or VA</p>
	  	<p>Contact Us For A Follow Up To Prescreen Your Community</p>
  		<p class="lead">
    		<a class="btn btn-success btn-lg" href="http://www.condoprescreen.com/form.php" role="button">Click For Prescreen</a>
  		</p>
	</div>
	<hr class="m-y-4">
            <div class="col-md-5 text-md-right">
              <small>Condo Approvals, LLC <br> Phone Number: (310) 896-2377</small>
            </div>
          </div>
</div>