<div class="container">
	<%= link_to "View Your AB 596", insert_path(@insert, format: "pdf") %>
	
	<hr class="m-y-4">
            <div class="col-md-5 text-md-right">
              <small>Condo Approvals, LLC <br> Phone Number: (310) 896-2377</small>
            </div>
          </div>
</div>